VUE_APP_URLAPI=/api/tarefas/
VUE_APP_VERSAOAPP=1.0.0

ALLOWED_HOSTS=*
DEBUG=True
POSTGRESQL_DATABASE=tarefas
POSTGRESQL_USER=User
POSTGRESQL_PASSWORD=e^$gofA!Z%6@
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=54325
